In [2]:
import numpy as np
import pandas as pd
from datetime import datetime

seagull = pd.read_csv('bird_tracking.csv')

In [8]:
seagull.head()

display(seagull['longitude'].min())
display(seagull['longitude'].max())
display(seagull['latitude'].min())
display(seagull['latitude'].max())

-17.6261451

4.8575613

12.354424

51.5184521

In [4]:
seagull.dtypes

Unnamed: 0              int64
altitude                int64
date_time              object
device_info_serial      int64
direction             float64
latitude              float64
longitude             float64
speed_2d              float64
bird_name              object
dtype: object

In [5]:
seagull['bird_name'].unique()

array(['Eric', 'Nico', 'Sanne'], dtype=object)

In [10]:
eric = seagull[seagull['bird_name'] == 'Eric'].reset_index(drop=True)
nico = seagull[seagull['bird_name'] == 'Nico'].reset_index(drop=True)
sanne = seagull[seagull['bird_name'] == 'Sanne'].reset_index(drop=True)

sanne.head(100)

,Unnamed: 0,altitude,date_time,device_info_serial,direction,latitude,longitude,speed_2d,bird_name
0,40916,55,2013-08-15 00:01:08+00,833,-91.499509,49.931065,2.281893,0.372156,Sanne
1,40917,54,2013-08-15 00:31:00+00,833,-141.804053,49.931076,2.281900,1.318484,Sanne
2,40918,55,2013-08-15 01:01:19+00,833,-10.651840,49.931016,2.281933,0.076158,Sanne
3,40919,56,2013-08-15 01:31:38+00,833,14.727689,49.931053,2.281911,0.014142,Sanne
4,40920,55,2013-08-15 02:01:24+00,833,-169.882200,49.931042,2.281893,0.094340,Sanne
...,...,...,...,...,...,...,...,...,...
95,41011,38,2013-08-16 04:53:39+00,833,-117.003559,49.888783,2.428164,0.270740,Sanne
96,41012,37,2013-08-16 05:08:34+00,833,35.380224,49.888978,2.428198,0.662193,Sanne
97,41013,37,2013-08-16 05:23:29+00,833,5.241531,49.888480,2.427954,0.340147,Sanne
98,41014,49,2013-08-16 05:38:25+00,833,178.834044,49.887992,2.428787,7.026414,Sanne
99,41015,35,2013-08-16 05:53:22+00,833,34.656004,49.888217,2.428426,0.447772,Sanne

In [ ]:
eric.to_csv(r"./eric")
nico.to_csv(r"./nico")
sanne.to_csv(r"./sanne")

In [ ]:
eric

,Unnamed: 0,altitude,date_time,device_info_serial,direction,latitude,longitude,speed_2d,bird_name
0,0,71,2013-08-15 00:18:08+00,851,-150.469753,49.419860,2.120733,0.150000,Eric
1,1,68,2013-08-15 00:48:07+00,851,-136.151141,49.419880,2.120746,2.438360,Eric
2,2,68,2013-08-15 01:17:58+00,851,160.797477,49.420310,2.120885,0.596657,Eric
3,3,73,2013-08-15 01:47:51+00,851,32.769360,49.420359,2.120859,0.310161,Eric
4,4,69,2013-08-15 02:17:42+00,851,45.191230,49.420331,2.120887,0.193132,Eric
...,...,...,...,...,...,...,...,...,...
19790,19790,12,2014-04-30 21:51:26+00,851,120.619823,51.322966,3.216576,0.064031,Eric
19791,19791,34,2014-04-30 22:21:33+00,851,35.683036,51.323116,3.216659,1.942395,Eric
19792,19792,1,2014-04-30 22:51:41+00,851,-52.808233,51.322979,3.216463,1.678392,Eric
19793,19793,7,2014-04-30 23:21:34+00,851,-38.675683,51.322986,3.216340,0.208087,Eric
19794,19794,16,2014-04-30 23:51:29+00,851,-24.443869,51.322992,3.216296,0.056569,Eric